h1 {
  text-align: center;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
}

.boss__section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.boss__card {
  grid-column: span 4;
}
